<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/cartStyle.css">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet"> 
    <title>Cart</title>
   

</head>

<body>

    <!-- put into a partial -->
 
    <nav class="navigation">
        <h1>A L B .</h1>
        <ul>
            <li><a href="/" class="home">HOME</a></li>
            <li><a href="./cart" class="cart">CART<span class="numCart">(<%=numCart%>)</a></li>
        </ul>

    </nav>

<main>

    <div class="cart-container">
        <% if (!checkOut) checkOut = {}%> 
        <% if (Object.keys(checkOut).length > 0) { %>

            <%let objectKeys = Object.keys(checkOut)%>
            <% objectKeys.forEach(item => { %>
                <div class="cart-product">

                    <img src= '<%=checkOut[item].img%>'>
                    <div class="product-details">
                        <h1 class ="prod-name"><%=checkOut[item]['prod-name']%></h1>
                        <h2>CAD: $<span class ="price"><%=checkOut[item].price%></span></h1>
                        <span class = "minus">-</span><input class ="qty" type="text" name="qty" disabled="disabled" value="<%=checkOut[item].qty%>"><span class="plus">+</span>
                        <a href="#" class="remove">Remove</a>
                    </div>
                </div>

            <% }) %>
       
        <%} else {%>
            <p class="emptyCart">YOUR CART IS EMPTY</p>

            <% } %>
        
    </div>

    
    
    

    <div class="checkout">
       

        <form class="paymentform" name="payment">

            <div class="inputField ">
                <label>First Name</label>
                <input type="text" name="first">
            </div>
            <div class="inputField">
                <label>Last Name</label>
                <input type="text" name="last">
            </div>
            <div class="inputField">
                <label>Email</label>
                <input type="text" name="email">
            </div>
            <div class="inputField">
                <label>Credit Card</label>
                <input type="text" name="creditcard">
            </div>

            <input type="submit" value="Pay Now">
            <button class="updateCart">Update Cart..</button>

        </form>

        <div class="totalCost">
            <h1>Total: $<%=subTotal%></h1>
        </div>
    </div>



</main>


<script type="module" src="/javascript/cartFeatures.js"></script>
</body>


</html>






















